body
{
background-image: url(stripes.avif);
accent-color: rgb(157,208,229);
font-family: Courier New;
}

.menu ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(157,208,229);
position: fixed;
top: 0;
width: 100%;
z-index: 99 !important;
}

.menu li {
float: right;
}

.menu li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: Courier New;
}

.menu li a:hover {
background-color: rgb(64,114,183);
color: white;
}

.Container 
{
background-color: white;
border-width: 10px;
border-color: rgb(157,208,229);
border: 10px solid rgb(157,208,229);
font-family: Courier New;
border-radius: 20px;
}